.own-card {
  width:55vh;
  height: 40vh;
  margin: 10px;
  cursor: pointer;
  color: white;
  display:inline-block;
  vertical-align:top;
  -webkit-box-shadow: 0 0 5px #DCDCDC;
  -moz-box-shadow: 0 0 5px #DCDCDC;
  box-shadow: 0 0 5px #DCDCDC;
}

.card-image {
  width: 100%;
  height: 30vh;
}

.card-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0 !important;
  color:white;
}

.card-info {
  font-size: 12px;
  margin:0;
  color:white;
}